<div class="panel panel-primary" ng-init="getCustomers()">
    <div class="panel-heading">
        Customers
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-1">
                <button class="btn btn-primary" ng-click="back()">Back</button>
            </div>
            <div class="col-md-8">
                <form class="form-inline">
                    <div class="form-group">
                        <label>Search: </label>
                        <input type="text" class="form-control" ng-model="name" />
                    </div>
                </form>
                
            </div>
            <div class="col-md-2">
                <label>Filter by: </label> {{name}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Contact Name</th>
                            <th>Country</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="c in customers | filter:name">
                            <td>{{c.customerID}}</td>
                            <td>{{c.contactName | uppercase}}</td>
                            <td>{{c.country}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

